<head>
    <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="page-body">
      <div class="body-login">
        <div class="form-wrapper radius panel-shadow">
          <a href="/" class="logo-link">mon<span class="logo-link_span">track</span></a>
          </a>
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form-login">
              <div class="form-inputs">
                <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="256" name="username" data-name="username" placeholder="Username" id="username">
                <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="256" name="password" data-name="password" placeholder="Password" id="password" required="">
              </div>
              <input type="submit" value="Login" data-wait="Please wait..." class="button w-button">
            </form>
          </div>
          <div>Dont have an account?</div>
          <a href="/register">Register</a>
        </div>
      </div>
    </div>
  </body>