<head>
    <link href="/static/styles.css" rel="stylesheet">
    <meta property="og:title" content="MonTrack" />
    <meta property="og:description" content="Expense Tracking App" />
    <meta property="og:image" content="https://www.dropbox.com/scl/fi/x22rs2ytja6maxjll4425/montrack_thumbnail.png?rlkey=1u6hzj3ff1gztr5r07wx6h1rv&raw=1
    " />
    <meta property="og:url" content="https://montrack-76bd5f84c89a.herokuapp.com/" />
  </head>
  <body>
    <div class="page-body">
      <div class="body-login">
        <div class="form-wrapper radius panel-shadow">
          <a href="/" class="logo-link">mon<span class="logo-link_span">track</span></a>
          <div style="margin-top: 40px;">For demo purposes use User\Password 'Admin' or register</div>
          <div class="w-form">
            <form id="email-form" name="email-form" data-name="Email Form" method="post" class="form-login">
              <div class="form-inputs">
                <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="256" name="username" data-name="username" placeholder="Username" id="username">
                <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="256" name="password" data-name="password" placeholder="Password" id="password" required="">
              </div>
              <div class="flash-msg">
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      {{ message }}
                    {% endfor %}
                  {% endif %}
                {% endwith %}
              </div>
              <input type="submit" value="Login" data-wait="Please wait..." class="button w-button">
            </form>
          </div>
          <div>Dont have an account?</div>
          <a href="/register">Register</a>
        </div>
      </div>
    </div>
  </body>