<head>
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <div class="page-body">
    <div class="body-login">
      <div class="form-wrapper radius panel-shadow">
        <a href="#" class="logo-link">mon <span class="logo-link_span">track</span>
        </a>
        <div class="w-form">
          <form id="register-form" name="register-form" data-name="Register Form" method="post" class="form-login">
            <div class="form-inputs">
              <div class="form_input_wrapper flex-h">
                <input type="text" autocomplete="off" class="form_input-text input-width input-radius w-input" maxlength="30" name="fname" data-name="fname" placeholder="First Name" id="fname" required="">
                <input type="text" autocomplete="off" class="form_input-text input-width input-radius w-input" maxlength="30" name="lname" data-name="lname" placeholder="Last Name" id="lname" required="">
              </div>
              <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="30" name="username" data-name="username" placeholder="Username" id="username" required="">
              <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="50" name="email" data-name="email" placeholder="Email" id="email" required="">
              <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="30" name="password" data-name="password" placeholder="Password" id="password" required="">
              <input type="text" autocomplete="off" class="form_input-text input-radius w-input" maxlength="30" name="confirmation" data-name="confirmation" placeholder="Confirmation" id="confirmation" required="">
            </div>
            <input type="submit" value="Register" data-wait="Please wait..." class="button w-button">
          </form>
        </div>
        <div>Already registered?</div>
        <a href="/login">Login</a>
      </div>
    </div>
  </div>
</body>